/ZTB.Prism.Controls/bin/Debug/System.Windows.Interactivity.dll
/ZTB.Prism.Controls/bin/Debug/ZTB.Prism.Controls.dll
/ZTB.Prism.Controls/bin/Debug/ZTB.Prism.Controls.pdb
/ZTB.Prism.Controls/obj/Debug/App.g.i.cs
/ZTB.Prism.Controls/obj/Debug/BaseControls/NotificationWindow.g.i.cs
/ZTB.Prism.Controls/obj/Debug/CustomControls/BaseButton.g.i.cs
/ZTB.Prism.Controls/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ZTB.Prism.Controls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.Controls/obj/Debug/GeneratedInternalTypeHelper.g.cs
/ZTB.Prism.Controls/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/ZTB.Prism.Controls/obj/Debug/MainWindow.g.i.cs
/ZTB.Prism.Controls/obj/Debug/NotificationWindow.g.i.cs
/ZTB.Prism.Controls/obj/Debug/Styles/BaseColors.baml
/ZTB.Prism.Controls/obj/Debug/Styles/ButtonStyle.baml
/ZTB.Prism.Controls/obj/Debug/Styles/CheckBoxStyle.baml
/ZTB.Prism.Controls/obj/Debug/Styles/IconStyle.baml
/ZTB.Prism.Controls/obj/Debug/Styles/Index.baml
/ZTB.Prism.Controls/obj/Debug/Styles/MenuStyle.baml
/ZTB.Prism.Controls/obj/Debug/Styles/PasswordStyle.baml
/ZTB.Prism.Controls/obj/Debug/Styles/RichTextBoxStyle.baml
/ZTB.Prism.Controls/obj/Debug/Styles/TextBoxStyle.baml
/ZTB.Prism.Controls/obj/Debug/Styles/WindowStyle.baml
/ZTB.Prism.Controls/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.Controls/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.Controls/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.Controls/obj/Debug/Views/ConfirmationWindow.baml
/ZTB.Prism.Controls/obj/Debug/Views/ConfirmationWindow.g.cs
/ZTB.Prism.Controls/obj/Debug/Views/ConfirmationWindow.g.i.cs
/ZTB.Prism.Controls/obj/Debug/Views/InputWindow.baml
/ZTB.Prism.Controls/obj/Debug/Views/InputWindow.g.cs
/ZTB.Prism.Controls/obj/Debug/Views/InputWindow.g.i.cs
/ZTB.Prism.Controls/obj/Debug/Views/MessageWindow.baml
/ZTB.Prism.Controls/obj/Debug/Views/MessageWindow.g.cs
/ZTB.Prism.Controls/obj/Debug/Views/MessageWindow.g.i.cs
/ZTB.Prism.Controls/obj/Debug/Views/NotificationWindow.g.i.cs
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.Properties.Resources.resources
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.csproj.CopyComplete
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.csproj.CoreCompileInputs.cache
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.csproj.FileListAbsolute.txt
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.csproj.GenerateResource.cache
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.csprojAssemblyReference.cache
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.dll
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.g.resources
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls.pdb
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls_MarkupCompile.cache
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls_MarkupCompile.i.cache
/ZTB.Prism.Controls/obj/Debug/ZTB.Prism.Controls_MarkupCompile.lref
/ZTB.Prism.Infrastructure/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/ZTB.Prism.Infrastructure/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/ZTB.Prism.Infrastructure/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/ZTB.Prism.Infrastructure/bin/Debug/NLog.config
/ZTB.Prism.Infrastructure/bin/Debug/NLog.dll
/ZTB.Prism.Infrastructure/bin/Debug/NLog.xml
/ZTB.Prism.Infrastructure/bin/Debug/Prism.Wpf.dll
/ZTB.Prism.Infrastructure/bin/Debug/Prism.Wpf.xml
/ZTB.Prism.Infrastructure/bin/Debug/Prism.dll
/ZTB.Prism.Infrastructure/bin/Debug/Prism.xml
/ZTB.Prism.Infrastructure/bin/Debug/System.Windows.Interactivity.dll
/ZTB.Prism.Infrastructure/bin/Debug/ZTB.Prism.Infrastructure.dll
/ZTB.Prism.Infrastructure/bin/Debug/ZTB.Prism.Infrastructure.pdb
/ZTB.Prism.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.Infrastructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.Infrastructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.Infrastructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.Infrastructure/obj/Debug/ZTB.Prism.Infrastructure.csproj.CopyComplete
/ZTB.Prism.Infrastructure/obj/Debug/ZTB.Prism.Infrastructure.csproj.CoreCompileInputs.cache
/ZTB.Prism.Infrastructure/obj/Debug/ZTB.Prism.Infrastructure.csproj.FileListAbsolute.txt
/ZTB.Prism.Infrastructure/obj/Debug/ZTB.Prism.Infrastructure.csprojAssemblyReference.cache
/ZTB.Prism.Infrastructure/obj/Debug/ZTB.Prism.Infrastructure.dll
/ZTB.Prism.Infrastructure/obj/Debug/ZTB.Prism.Infrastructure.pdb
/ZTB.Prism.Resources/bin/Debug/ZTB.Prism.Resources.dll
/ZTB.Prism.Resources/bin/Debug/ZTB.Prism.Resources.pdb
/ZTB.Prism.Resources/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.Resources/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.Resources/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.Resources/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.Resources/obj/Debug/ZTB.Prism.Resources.csproj.CoreCompileInputs.cache
/ZTB.Prism.Resources/obj/Debug/ZTB.Prism.Resources.csproj.FileListAbsolute.txt
/ZTB.Prism.Resources/obj/Debug/ZTB.Prism.Resources.dll
/ZTB.Prism.Resources/obj/Debug/ZTB.Prism.Resources.g.resources
/ZTB.Prism.Resources/obj/Debug/ZTB.Prism.Resources.pdb
/ZTB.Prism.UI.BaseInformation/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/ZTB.Prism.UI.BaseInformation/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/ZTB.Prism.UI.BaseInformation/bin/Debug/Prism.Wpf.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/Prism.Wpf.xml
/ZTB.Prism.UI.BaseInformation/bin/Debug/Prism.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/Prism.xml
/ZTB.Prism.UI.BaseInformation/bin/Debug/System.Windows.Interactivity.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.Controls.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.Controls.pdb
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.Resources.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.Resources.pdb
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.UI.BaseInformation.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.UI.BaseInformation.pdb
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.UI.Core.dll
/ZTB.Prism.UI.BaseInformation/bin/Debug/ZTB.Prism.UI.Core.pdb
/ZTB.Prism.UI.BaseInformation/obj/Debug/App.g.i.cs
/ZTB.Prism.UI.BaseInformation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.UI.BaseInformation/obj/Debug/MainWindow.g.i.cs
/ZTB.Prism.UI.BaseInformation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.UI.BaseInformation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.UI.BaseInformation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.UI.BaseInformation/obj/Debug/Views/BaseInformationStart.baml
/ZTB.Prism.UI.BaseInformation/obj/Debug/Views/BaseInformationStart.g.cs
/ZTB.Prism.UI.BaseInformation/obj/Debug/Views/BaseInformationStart.g.i.cs
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.Properties.Resources.resources
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.csproj.CopyComplete
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.csproj.CoreCompileInputs.cache
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.csproj.FileListAbsolute.txt
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.csproj.GenerateResource.cache
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.csprojAssemblyReference.cache
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.dll
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.g.resources
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation.pdb
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation_MarkupCompile.cache
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation_MarkupCompile.i.cache
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation_MarkupCompile.i.lref
/ZTB.Prism.UI.BaseInformation/obj/Debug/ZTB.Prism.UI.BaseInformation_MarkupCompile.lref
/ZTB.Prism.UI.Core/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/ZTB.Prism.UI.Core/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/ZTB.Prism.UI.Core/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/ZTB.Prism.UI.Core/bin/Debug/Prism.Wpf.dll
/ZTB.Prism.UI.Core/bin/Debug/Prism.Wpf.xml
/ZTB.Prism.UI.Core/bin/Debug/Prism.dll
/ZTB.Prism.UI.Core/bin/Debug/Prism.xml
/ZTB.Prism.UI.Core/bin/Debug/System.Windows.Interactivity.dll
/ZTB.Prism.UI.Core/bin/Debug/ZTB.Prism.UI.Core.dll
/ZTB.Prism.UI.Core/bin/Debug/ZTB.Prism.UI.Core.pdb
/ZTB.Prism.UI.Core/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ZTB.Prism.UI.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.UI.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.UI.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.UI.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.UI.Core/obj/Debug/ZTB.Prism.UI.Core.csproj.CopyComplete
/ZTB.Prism.UI.Core/obj/Debug/ZTB.Prism.UI.Core.csproj.CoreCompileInputs.cache
/ZTB.Prism.UI.Core/obj/Debug/ZTB.Prism.UI.Core.csproj.FileListAbsolute.txt
/ZTB.Prism.UI.Core/obj/Debug/ZTB.Prism.UI.Core.dll
/ZTB.Prism.UI.Core/obj/Debug/ZTB.Prism.UI.Core.pdb
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/Prism.Wpf.dll
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/Prism.Wpf.xml
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/Prism.dll
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/Prism.xml
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/System.Windows.Interactivity.dll
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/ZTB.Prism.UI.EnergyConsumption.dll
/ZTB.Prism.UI.EnergyConsumption/bin/Debug/ZTB.Prism.UI.EnergyConsumption.pdb
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/App.g.i.cs
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/MainWindow.g.i.cs
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/Views/EnergyConsumptionStart.baml
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/Views/EnergyConsumptionStart.g.cs
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/Views/EnergyConsumptionStart.g.i.cs
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.Properties.Resources.resources
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.csproj.CopyComplete
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.csproj.CoreCompileInputs.cache
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.csproj.FileListAbsolute.txt
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.csproj.GenerateResource.cache
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.dll
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.g.resources
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption.pdb
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption_MarkupCompile.cache
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption_MarkupCompile.i.cache
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption_MarkupCompile.i.lref
/ZTB.Prism.UI.EnergyConsumption/obj/Debug/ZTB.Prism.UI.EnergyConsumption_MarkupCompile.lref
/ZTB.Prism.UI.Login/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/ZTB.Prism.UI.Login/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/ZTB.Prism.UI.Login/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/ZTB.Prism.UI.Login/bin/Debug/Prism.Wpf.dll
/ZTB.Prism.UI.Login/bin/Debug/Prism.Wpf.xml
/ZTB.Prism.UI.Login/bin/Debug/Prism.dll
/ZTB.Prism.UI.Login/bin/Debug/Prism.xml
/ZTB.Prism.UI.Login/bin/Debug/System.Windows.Interactivity.dll
/ZTB.Prism.UI.Login/bin/Debug/ZTB.Prism.Controls.dll
/ZTB.Prism.UI.Login/bin/Debug/ZTB.Prism.Controls.pdb
/ZTB.Prism.UI.Login/bin/Debug/ZTB.Prism.Resources.dll
/ZTB.Prism.UI.Login/bin/Debug/ZTB.Prism.Resources.pdb
/ZTB.Prism.UI.Login/bin/Debug/ZTB.Prism.UI.Login.dll
/ZTB.Prism.UI.Login/bin/Debug/ZTB.Prism.UI.Login.pdb
/ZTB.Prism.UI.Login/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.UI.Login/obj/Debug/LoginControl.g.i.cs
/ZTB.Prism.UI.Login/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.UI.Login/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.UI.Login/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.UI.Login/obj/Debug/Views/LoginControl.baml
/ZTB.Prism.UI.Login/obj/Debug/Views/LoginControl.g.cs
/ZTB.Prism.UI.Login/obj/Debug/Views/LoginControl.g.i.cs
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login.csproj.CopyComplete
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login.csproj.CoreCompileInputs.cache
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login.csproj.FileListAbsolute.txt
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login.csprojAssemblyReference.cache
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login.dll
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login.g.resources
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login.pdb
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login_MarkupCompile.cache
/ZTB.Prism.UI.Login/obj/Debug/ZTB.Prism.UI.Login_MarkupCompile.i.cache
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.Unity.Configuration.xml
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.dll
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.xml
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.Unity.dll
/ZTB.Prism.UI/bin/Debug/Microsoft.Practices.Unity.xml
/ZTB.Prism.UI/bin/Debug/NLog.config
/ZTB.Prism.UI/bin/Debug/NLog.dll
/ZTB.Prism.UI/bin/Debug/NLog.xml
/ZTB.Prism.UI/bin/Debug/NLogs/Info/2018-05-27.log
/ZTB.Prism.UI/bin/Debug/Prism.Unity.Wpf.dll
/ZTB.Prism.UI/bin/Debug/Prism.Unity.Wpf.xml
/ZTB.Prism.UI/bin/Debug/Prism.Wpf.dll
/ZTB.Prism.UI/bin/Debug/Prism.Wpf.xml
/ZTB.Prism.UI/bin/Debug/Prism.dll
/ZTB.Prism.UI/bin/Debug/Prism.xml
/ZTB.Prism.UI/bin/Debug/System.Windows.Interactivity.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.Controls.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.Controls.pdb
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.Infrastructure.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.Infrastructure.pdb
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.Resources.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.Resources.pdb
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.BaseInformation.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.BaseInformation.pdb
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.Core.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.Core.pdb
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.EnergyConsumption.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.EnergyConsumption.pdb
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.Login.dll
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.Login.pdb
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.exe
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.exe.config
/ZTB.Prism.UI/bin/Debug/ZTB.Prism.UI.pdb
/ZTB.Prism.UI/obj/Debug/App.baml
/ZTB.Prism.UI/obj/Debug/App.g.cs
/ZTB.Prism.UI/obj/Debug/App.g.i.cs
/ZTB.Prism.UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZTB.Prism.UI/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/ZTB.Prism.UI/obj/Debug/MainWindow.g.i.cs
/ZTB.Prism.UI/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ZTB.Prism.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZTB.Prism.UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZTB.Prism.UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZTB.Prism.UI/obj/Debug/Views/BootstrapperWin.baml
/ZTB.Prism.UI/obj/Debug/Views/BootstrapperWin.g.cs
/ZTB.Prism.UI/obj/Debug/Views/BootstrapperWin.g.i.cs
/ZTB.Prism.UI/obj/Debug/Views/LoginWin.g.i.cs
/ZTB.Prism.UI/obj/Debug/Views/MainWindow.baml
/ZTB.Prism.UI/obj/Debug/Views/MainWindow.g.cs
/ZTB.Prism.UI/obj/Debug/Views/MainWindow.g.i.cs
/ZTB.Prism.UI/obj/Debug/Views/NotificatyControl.g.i.cs
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.Properties.Resources.resources
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.csproj.CopyComplete
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.csproj.CoreCompileInputs.cache
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.csproj.FileListAbsolute.txt
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.csproj.GenerateResource.cache
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.csprojAssemblyReference.cache
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.exe
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.g.resources
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI.pdb
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI_MarkupCompile.cache
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI_MarkupCompile.i.cache
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI_MarkupCompile.i.lref
/ZTB.Prism.UI/obj/Debug/ZTB.Prism.UI_MarkupCompile.lref
/.vs/ZTB.Prism/DesignTimeBuild/.dtbcache
/.vs/ZTB.Prism/v15/.suo
/.vs/ZTB.Prism/v15/Server/sqlite3/db.lock
/.vs/ZTB.Prism/v15/Server/sqlite3/storage.ide
/.vs/ZTB.Prism/v15/Server/sqlite3/storage.ide-shm
/.vs/ZTB.Prism/v15/Server/sqlite3/storage.ide-wal
