################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ZTB.Prism/v15
/ZTB.Prism.UI/bin/Debug
/ZTB.Prism.UI/obj/Debug
/ZTB.Prism.UI.BaseInformation/bin/Debug
/ZTB.Prism.UI.BaseInformation/obj/Debug
/ZTB.Prism.UI.Core/bin/Debug
/ZTB.Prism.UI.Core/obj/Debug
/ZTB.Prism.UI.EnergyConsumption/bin/Debug
/ZTB.Prism.UI.EnergyConsumption/obj/Debug
/ZTB.Prism.UI.Login/bin/Debug
/ZTB.Prism.UI.Login/obj/Debug
/ZTB.Prism.Styles/bin/Debug
/ZTB.Prism.Styles/obj/Debug
/ZTB.Prism.Resources/bin/Debug
/ZTB.Prism.Resources/obj/Debug
/ZTB.Prism.Infrastructure/bin/Debug
/ZTB.Prism.Infrastructure/obj/Debug
/ZTB.Prism.Controls/bin/Debug
/ZTB.Prism.Controls/obj/Debug
