<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true">
  <!--自动再配置,一旦你对配置文件修改，程序将会重新读取配置文件，也就是自动再配置。-->

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <!--异步处理-->
  <targets async="true">
    <!-- add your targets here -->
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}"/>

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

    <!--保存至文件-->
    <target name="error_file" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/NLogs/Error/${shortdate}.log"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <!--保存至文件-->
    <target name="info_file" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/NLogs/Info/${shortdate}.log"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" writeTo="console" />
    <!--将所有的日志输出到控制台中-->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <!--将Debug级别以上的日志输出到Debugger中-->
    <logger name="*" levels="Error" writeTo="error_file" />
    <!--将Error级别以上的日志输出到文件中-->
    <logger name="*" levels="Info" writeTo="info_file" />
    <!--将Info级别以上的日志输出到文件中-->
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>